<div class="filters">
    <div class="rank-interval">
        <input [(ngModel)]="minRank" (ngModelChange)="onMinRankChanged()" placeholder="Rank min" class="rank-min">
        <input [(ngModel)]="maxRank" (ngModelChange)="onMaxRankChanged()" placeholder="Rank max" class="rank-max">
    </div>
    <div class="date-range">
        <input class="date-range-select">
    </div>
    <div class="dropdown">
        <select #selectList (change)="onDatasetClick(selectList.value)" class="dropdown-select">
            <option *ngFor="let id of datasetIds"
                    [selected]="selectedId === id"
                    [value]="id">
                {{ id.toUpperCase() }}
            </option>
        </select>
    </div>
</div>
